@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root{
    --primary-color:black;
    --dark-gray: #6B7280;
    --off-white:#F3F4F6;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.container{
    padding: 0rem 1rem;
}
.container-center{
    max-width:600px ;
    margin: auto;
    text-align: center;
}
.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--off-white);
}
.link:hover{
    color:red;
}
.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation .nav-pills{
    text-align: right;
}
@media only screen and (max-width: 600px){
    .navigation .nav-pills{
        font-size: 0.5em;
        padding: 0;
    }
}
@media only screen and (max-width: 600px){
    .list-item-inline{
        padding: 0rem 0rem;
    }    
}
.navigation .link-active{
    font-weight: bold;
}
.hero{
    padding: 2rem;
    text-align: center;
}
.hero .hero-img{
    max-width:300px;
    display: block;
    margin: auto;
    border-radius: 300px;
    height: 40vh;
}
.hero .hero-heading{
    text-align: center;
    color: var(--dark-gray);
    padding-top: 1rem;
}
.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
}
.ow{
    background-color: var(--off-white);
}
.grid-wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}
.box > img{
    width: 100%;
}
.box{
    background-color: var(--off-white);
    padding: 40px;
    margin: 20px;
}
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer .ul{
    padding-inline-start: 0px;
}